################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/EventBooking.API/bin/Debug/net8.0/EventBooking.API.dll
/EventBooking.API/bin/Debug/net8.0/EventBooking.API.exe
/EventBooking.API/bin/Debug/net8.0/EventBooking.API.pdb
/EventBooking.API/bin/Debug/net8.0/EventBooking.Application.dll
/EventBooking.API/bin/Debug/net8.0/EventBooking.Application.pdb
/EventBooking.API/bin/Debug/net8.0/EventBooking.Domain.dll
/EventBooking.API/bin/Debug/net8.0/EventBooking.Domain.pdb
/EventBooking.API/obj/Debug/net8.0/ref/EventBooking.API.dll
/EventBooking.API/obj/Debug/net8.0/refint/EventBooking.API.dll
/EventBooking.API/obj/Debug/net8.0/apphost.exe
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.AssemblyInfo.cs
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.AssemblyInfoInputs.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.csproj.AssemblyReference.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.csproj.FileListAbsolute.txt
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.dll
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.genruntimeconfig.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.pdb
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.sourcelink.json
/EventBooking.API/obj/EventBooking.API.csproj.nuget.dgspec.json
/EventBooking.API/obj/project.nuget.cache
/EventBooking.Application/bin/Debug/net8.0/EventBooking.Application.dll
/EventBooking.Application/bin/Debug/net8.0/EventBooking.Application.pdb
/EventBooking.Application/bin/Debug/net8.0/EventBooking.Domain.dll
/EventBooking.Application/bin/Debug/net8.0/EventBooking.Domain.pdb
/EventBooking.Application/obj/Debug/net8.0/refint/EventBooking.Application.dll
/EventBooking.Application/obj/Debug/net8.0/ref/EventBooking.Application.dll
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.AssemblyInfo.cs
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.AssemblyInfoInputs.cache
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.csproj.AssemblyReference.cache
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.csproj.FileListAbsolute.txt
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.dll
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.pdb
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.sourcelink.json
/EventBooking.Application/obj/EventBooking.Application.csproj.nuget.dgspec.json
/EventBooking.Application/obj/project.nuget.cache
/EventBooking.Application/obj/Release/net8.0/EventBooking.Application.AssemblyInfo.cs
/EventBooking.Application/obj/Release/net8.0/EventBooking.Application.AssemblyInfoInputs.cache
/EventBooking.Application/obj/Release/net8.0/EventBooking.Application.assets.cache
/EventBooking.Application/obj/Release/net8.0/EventBooking.Application.GeneratedMSBuildEditorConfig.editorconfig
/EventBooking.Domain/bin/Debug/net8.0/EventBooking.Domain.dll
/EventBooking.Domain/bin/Debug/net8.0/EventBooking.Domain.pdb
/EventBooking.Domain/obj/Debug/net8.0/ref/EventBooking.Domain.dll
/EventBooking.Domain/obj/Debug/net8.0/refint/EventBooking.Domain.dll
/EventBooking.Domain/obj/Debug/net8.0/EventBooking.Domain.AssemblyInfo.cs
/EventBooking.Domain/obj/Debug/net8.0/EventBooking.Domain.AssemblyInfoInputs.cache
/EventBooking.Domain/obj/Debug/net8.0/EventBooking.Domain.csproj.FileListAbsolute.txt
/EventBooking.Domain/obj/Debug/net8.0/EventBooking.Domain.dll
/EventBooking.Domain/obj/Debug/net8.0/EventBooking.Domain.pdb
/EventBooking.Domain/obj/Debug/net8.0/EventBooking.Domain.sourcelink.json
/EventBooking.Infrastructure/bin/Debug/net8.0/EventBooking.Infrastructure.dll
/EventBooking.Infrastructure/bin/Debug/net8.0/EventBooking.Infrastructure.pdb
/EventBooking.Infrastructure/obj/Debug/net8.0/ref/EventBooking.Infrastructure.dll
/EventBooking.Infrastructure/obj/Debug/net8.0/refint/EventBooking.Infrastructure.dll
/EventBooking.Infrastructure/obj/Debug/net8.0/EventBooking.Infrastructure.AssemblyInfo.cs
/EventBooking.Infrastructure/obj/Debug/net8.0/EventBooking.Infrastructure.AssemblyInfoInputs.cache
/EventBooking.Infrastructure/obj/Debug/net8.0/EventBooking.Infrastructure.csproj.FileListAbsolute.txt
/EventBooking.Infrastructure/obj/Debug/net8.0/EventBooking.Infrastructure.dll
/EventBooking.Infrastructure/obj/Debug/net8.0/EventBooking.Infrastructure.pdb
/EventBooking.Infrastructure/obj/Debug/net8.0/EventBooking.Infrastructure.sourcelink.json
/EventBooking.Persistence/bin/Debug/net8.0/EventBooking.Application.dll
/EventBooking.Persistence/bin/Debug/net8.0/EventBooking.Application.pdb
/EventBooking.Persistence/bin/Debug/net8.0/EventBooking.Domain.dll
/EventBooking.Persistence/bin/Debug/net8.0/EventBooking.Domain.pdb
/EventBooking.Persistence/bin/Debug/net8.0/EventBooking.Persistence.dll
/EventBooking.Persistence/bin/Debug/net8.0/EventBooking.Persistence.pdb
/EventBooking.Persistence/obj/Debug/net8.0/ref/EventBooking.Persistence.dll
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.AssemblyInfo.cs
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.AssemblyInfoInputs.cache
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.csproj.AssemblyReference.cache
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.csproj.FileListAbsolute.txt
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.dll
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.pdb
/EventBooking.Persistence/obj/Debug/net8.0/refint/EventBooking.Persistence.dll
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.sourcelink.json
/EventBooking.Persistence/obj/EventBooking.Persistence.csproj.nuget.dgspec.json
/EventBooking.Persistence/obj/project.nuget.cache
/EventBooking.API/obj/Container/AbsoluteOutputAssemblyPath.cache
/EventBooking.API/obj/Container/AdditionalProbingPaths.cache
/EventBooking.API/obj/Container/ContainerDevelopmentMode.cache
/EventBooking.API/obj/Container/ContainerId.cache
/EventBooking.API/obj/Container/ContainerName.cache
/EventBooking.API/obj/Container/ContainerOperatingSystemFlavor.cache
/EventBooking.API/obj/Container/ContainerRunContext.cache
/EventBooking.API/obj/Container/DebuggeeArguments.cache
/EventBooking.API/obj/Container/DebuggeeKillProcessCommand.cache
/EventBooking.API/obj/Container/DebuggeeProgram.cache
/EventBooking.API/obj/Container/DebuggeeWorkingDirectory.cache
/EventBooking.API/obj/Container/DistrolessHelperWasMapped.cache
/EventBooking.API/obj/Container/FastModeProjectMountDirectory.cache
/EventBooking.API/obj/Container/ImageBuildContext.cache
/EventBooking.API/obj/Container/ImageId.cache
/EventBooking.API/obj/Container/LaunchedImageId.cache
/EventBooking.API/obj/Container/OperatingSystemName.cache
/EventBooking.API/obj/Container/TargetFramework.cache
/EventBooking.API/obj/Container/VolumeMappings.cache
/EventBooking.API/obj/Container/VolumeMappings2.cache
/EventBooking.API/obj/Container/VsDbgScript.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.assets.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.GeneratedMSBuildEditorConfig.editorconfig
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.assets.cache
/EventBooking.Application/obj/Debug/net8.0/EventBooking.Application.GeneratedMSBuildEditorConfig.editorconfig
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.assets.cache
/EventBooking.Persistence/obj/Debug/net8.0/EventBooking.Persistence.GeneratedMSBuildEditorConfig.editorconfig
