################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/EventBooking.API/bin/Debug/net8.0/EventBooking.API.dll
/EventBooking.API/bin/Debug/net8.0/EventBooking.API.exe
/EventBooking.API/bin/Debug/net8.0/EventBooking.API.pdb
/EventBooking.API/bin/Debug/net8.0/EventBooking.Application.dll
/EventBooking.API/bin/Debug/net8.0/EventBooking.Application.pdb
/EventBooking.API/bin/Debug/net8.0/EventBooking.Domain.dll
/EventBooking.API/bin/Debug/net8.0/EventBooking.Domain.pdb
/EventBooking.API/obj/Debug/net8.0/ref/EventBooking.API.dll
/EventBooking.API/obj/Debug/net8.0/refint/EventBooking.API.dll
/EventBooking.API/obj/Debug/net8.0/apphost.exe
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.AssemblyInfo.cs
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.AssemblyInfoInputs.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.csproj.AssemblyReference.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.csproj.FileListAbsolute.txt
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.dll
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.genruntimeconfig.cache
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.pdb
/EventBooking.API/obj/Debug/net8.0/EventBooking.API.sourcelink.json
/EventBooking.API/obj/EventBooking.API.csproj.nuget.dgspec.json
/EventBooking.API/obj/project.nuget.cache
